http://{$DOMAIN:aquarium.annabelgoldman.com} {
	redir https://{host}{uri} permanent
}

https://{$DOMAIN:aquarium.annabelgoldman.com} {
	encode gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		Content-Security-Policy "upgrade-insecure-requests"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
	reverse_proxy app:8000
}
